# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Playwright / Pytest outputs
# -----------------------------
reports/
screenshots/
playwright-report/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / editor files
# -----------------------------
*.idea/
